body{
    margin: 0 15em;
    padding: 0 15em;
}

.header{
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}

.logo{
    flex: 2;
}

.logo img{
    width: 30%;
    height: 40%;
    border-radius: 200px;

}

.navBar{
    flex: 3;
    justify-content: flex-end;
}

.navBar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    margin-left: 10%;
    list-style-type: none;
}

li a{
    font-size: large;
    color: black;
    text-decoration: none;
    position: relative;
}

li a::before {
    transition: 0.5s;
    text-decoration: underline;
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

li a:hover{
    color: black;
}

li a:hover::before{
    width: 100%;
}

li .active::before{
    text-decoration: underline;
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
    /* position: fixed; */
}

main{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
}

.section1{
    flex: 1;
}

.section1 h1{
    font-family:'playfair display';
    font-size: 3.75em;
}

.section1 p{
    font-size: 1.25em;
    font-family:'poppins';
    font-weight: 350;
}

.text1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 3;
}
.style{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:2;
    /* background-color: red; */
    justify-content: center;
}

.style:hover h4{
    text-decoration: underline;
    /* border-bottom: 1px solid black; */
    cursor: default;
    transform: translateX(-5px);
}

.style h4{
    /* margin-left: 20%; */
    font-family: 'poppins';
    font-weight: 400;
    transform: translateX(0);
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.style img{
    margin-left: 3%;
    align-items: center;
    transform: translateX(0);
    transition: 0.5s;
}

.style:hover img{
    transform: translateX(5px);
}

.text2{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    height: 30%;
    /* align-items: center; */
}

.text2 .abonner{
    width: 35%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 3em;
    font-family:'poppins';
    font-weight: 400;
}

.text2 .paragraphe{
    font-family: 'poppins';
    font-weight: 350;
    font-size: 1.25em;
    width: 80%;
    margin-top: 8%;
}

.text2 .paragraphe span{
    font-weight: bold;
}

.section2{
    width: 100%;
    flex: 1 ;
    display: flex;
    flex-direction:row ;
    gap: 0.5em;
    margin-top: 4em;
    justify-content: end;
}

.section2 .card1{
    width: 15em;
    height: 34em;
    overflow: hidden;
    position: relative;
}

span{
    font-family: 'poppins';
    font-weight: 100;
    /* margin-left: 65px; */
}

.card1 .image1{
    width: 15em;
    height: 100%;
    object-fit: cover;
}

.card2{
    flex: 1;
    width: 15em;
}

.card2 .image2{
    width: 15em;
    justify-content: flex-end;
}

.card2 .image3{
    width: 15em;
}


/* .login{
    color: #4ca48f;
} */